/* debut header */
*{
    scroll-behavior: smooth;
}

body{
    background-color:white!important;
    overflow-x: hidden;
}

.active{

    background-color:#10b981;
    width: 100%;
    transition: 0.5s;
}

.fade-in{
    opacity: 0;
    transition: opacity 350ms ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.from-left{
    transform: translateX(-50%);
}
.from-right{
    transform: translateX(50%);
}
.from-left,.from-right{
    transition: transform 0.5s ease-in;
}

.from-left.appear,.from-right.appear{
    transform: translateX(0);
}

header {
    background-color:#fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}


header nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 15px;
    
}

header nav .logo{
    font-size: 28px;
    font-weight: bolder;
}

header nav .main-menu { 
   display: flex;
}

header nav .main-menu  li{ 
   list-style-type:none;
   margin: 0 15px;
   font-size: 18px;
 
 }

 header nav .main-menu  li span{ 
    display: block;
    height: 5px;
    border-radius: 2px ;
    transition: 0.5s;
 }
 header nav .logo a,header nav .main-menu  li a{
    text-decoration: none;
    color:#10b981;
    z-index: 1;
   
}

header nav .logo a:hover,header nav .main-menu  li a:hover{
    color:#047857;
}

header.sticky{
    background-color:#10b981;
}

header.sticky .logo,header.sticky nav a{
    color: white!important;
    text-align: center;
}

header nav .main-menu li{
    overflow: hidden;
}

header nav .main-menu #indicator{
    width:0% ;
    height:5px;
    background-color:#10b981; 
    position: absolute;
    bottom: 30px;
    transition: 0.5s;
    border-radius: 2px ;
    padding: 2px 5px;
    z-index: 0;
}

header.sticky nav .main-menu #indicator{
    background-color: white;
}


/* fin header */

/*debut landing page section */

main{
    margin-top: 100px;
    background-color: white;
}

section h3{
    font-size: 45px;
}

main .landing-section{
    /* background-image:url("../img/banner/landingg-bg.jpg"); */
    /* background-color:#292524; */
    background-color: white;
    background-blend-mode: multiply; 
    background-repeat: no-repeat;
    background-size:cover;
    color: #292524;
}
main .landing-section h3 span{
    color: #10b981;
}

main section,footer{
    background-color:white;
}


 main .landing-section button,
 main .contact-section button,
 main .about-section button{
    background-color:#10b981!important;
    box-shadow: 0 0 2px#10b981!important;
    border: none;
    outline: none;
}

main .landing-section button:hover,
main .about-section button:hover,
main .contact-section button:hover{
    background-color:#047857!important;
}
/*fin landing page section */


/* debut about section */

main section{
    background-color: white;
    color: #292524;
}


/* fin about section */


/* debut sertvice */

.service-section .container{

}

.service-section .container .card{
    background-color:#fafafa;
    border: none;
    margin-bottom: 50px;
    max-width: 300px;
}

.service-section .container .card .card-title{
    color: #10b981;
}

.service-section .container .card:hover{
    box-shadow: 0 0 10px rgb(114, 112, 112);
    transition: 0.2s;
}

/* fin service */

/* debut projects section */
section .button-group{
    margin-bottom: 20px;
}

section .button-group button{
    background-color: white;
    border: none;
    outline: none;
}

section .button-group button.active{
    color: #10b981!important ;
}

.testimonial-section{

}

.testimonial-section .client-card{
    max-width:400px;

    padding: 0 10px;
    border-radius: 2px;
    box-shadow: 0 2px 5px #78716c;
    margin: 20px auto;
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    color: #292524;
}

.testimonial-section .client-card .client-img{
   
}
.testimonial-section .client-card h4{
    color: #10b981;
}

.testimonial-section .client-card .about-client{
    padding: 5px 10px;
    font-size: .8rem;
    margin-top: 35px;
}


footer{
    margin-top: 0;
    background-image: url("../img/footer-bg.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: multiply;
    color: #292524;
}

footer a{
    color:#10b981;
}

footer a:hover{
    color:#047857;
}